<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spoonacular Application</title>
</head>
<body>
    <h1>All Your Food. One Place.</h1>
    <h2>Search Recipes by Nutrients....</h2>
    <from action="/" name="my_form" method="POST">

        <label for="min_carbs">Min Carbs:</label>
        <select id="min_carbs" name="min_carbs">
        {% for value in range(0, 101) %}
        <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
        </select>

        <label for="max_carbs">Max Carbs:</label>
        <select id="max_carbs" name="max_carbs">
        {% for value in range(0, 101) %}
        <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
        </select>

        <label for="min_protein">Min Protein:</label>
        <select id="min_protein" name="min_protein">
        {% for value in range(0, 101) %}
        <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
        </select>

        <button type="submit">Search</button>
    </from>

    <!-- Display Recipe Details if Available -->
    {% if recipe_details %}
    <h2>Recipe Details:</h2>
    <pre>
    {% for recipe in recipe_details %}
    Recipe Name: {{ recipe['name'] }}
    // Calories per Serving: {{ recipe['calories'] }}
    Carbs per Serving: {{ recipe['carbs'] }}g
    Protein per Serving: {{ recipe['protein'] }}g
    Fat per Serving: {{ recipe['fat'] }}g
    ---------------------------------
    {% endfor %}
    </pre>
    {% endif %}
    
    <!-- Display Error Message if Applicable -->
    {% if error_message %}
    <h2>Error:</h2>
    <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
